{% extends "layout.njk" %}
{% block content %}

    <section class="banner">
        <div class="wrapper banner__wrapp">
            <div class="banner__text">
                <h2>As melhores receitas</h2>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="banner__cheff">
                <img src="/chef.png" alt="Ilustração cheffe">
            </div>
        </div>
    </section>
    <section class="maisreceitas">
        <div class="wrapper">
            <h2 class="titulo__padrao">Mais acessadas</h2>
        </div>

        <div class="wrapper receita">

            {% for receita in receitas %}
               

                <article class="receita__iten">
                    <img src="{{ receita.image }}" alt="receita.title">
                    <h3>{{ receita.title }}</h3>
                    <span>{{ receita.author }}</span>
                </article>
            {% endfor %}

        </section>

    {% endblock %}