<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Foody</title>
    </head>

    <body>
        <header>
            <div class="wrapper wrapp__header">
                <h1 class="logo__foodfy">
                    <a href="/"><img src="/logo.png" alt="Foody"></a>
                </h1>
                <nav class="menu">
                    <a href="/sobre">Sobre</a>
                    <a href="/receitas">Receitas</a>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>

</html>