section.banner-recipes {
  margin-bottom: 50px;
}
.banner-recipes__box {
  width: 100%;
  background: #FBDFDB;
  border-radius: 30px;
  height: 366px;
  padding: 10px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-recipes__text {
  max-width: 325px;
  width: 50%;
}

.banner-recipes__box img {
  width: 50%;
  max-width: 216px;
  transform: translate(-20px, 30px);
}