.wrapper--header {
  display: grid;
  grid-template-columns: 1fr 3.8fr;
  vertical-align: bottom;
  align-items: flex-start;
  margin: 36px auto 30px auto;
}
nav.menu ul {
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding-top: 8px;
}