
@media(max-width: 768px) {
  .wrapper--header,
  nav.menu ul{
    grid-template-columns: 1fr 1fr;
  }
  
  .banner-recipes__box{
    flex-direction: column-reverse;
  }
  .banner-recipes__text,
  .banner-recipes__box img{
    width: 100%;
  }
  .banner-recipes__box img{
    transform: translate(0px, 0px);
    margin-bottom: 20px;
  }
  .banner-recipes__box{
    width: 90%;
    height: 100%;
    padding: 40px 20px;
  }
  .more-recipes__wrapp{
    grid-template-columns: 1fr;
  }
}